<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="public/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="public/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<style media="screen">
  .table-vertical td {
    vertical-align: middle!important;
  }
</style>


<%- contentFor('breadcrumb') %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="/moje-zamowienia">Wszyscy użytkownicy</a></li>
                    <li class="breadcrumb-item active">Lista</li>
                </ol>
            </div>
            <h4 class="page-title">Lista użytkowników</h4>
        </div>
    </div>
</div>

<%- contentFor('body') %>
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                              <% if(error == null){ %>
                                <form class="edit_order" action="edytuj-zamowinie" method="post">
                                <table id="datatable" class="table  dt-responsive nowrap table-vertical" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Id użytkownika</th>
                                        <th>Logo</th>
                                        <th>Nazwa</th>
                                        <th>Imie</th>
                                        <th>Nazwisko</th>
                                        <th>Typ</th>
                                        <th>Data utworzenia konta</th>
                                        <th>Zamówienia</th>
                                        <th>Opcje</th>
                                    </tr>
                                    </thead>
                                  <tbody>


                                      <% users.forEach((user) => { %>
                                          <tr class="user-<%= user.id %>">
                                              <td>
                                                  <a href="/edytuj-uzytkownika?nazwa=<%= user.username %>" class="font-600 text-muted">#<%= user.id %></a>
                                              </td>
                                              <td><img src="public/images/<%= user.avatar %>" width="200px" alt=""></td>
                                              <td><%= user.username %></td>
                                              <td><%= user.name %></td>
                                              <td><%= user.surname %></td>
                                              <td><%= user.type %> </td>
                                              <td><%= user.date %></td>
                                              <td style=" padding-left: 42px;"><%= user.ilosc_zamowien %></td>

                                              <td style="padding-top: 0; padding-bottom:0; font-size: 2rem;">
                                                <a href="/edytuj-uzytkownika?nazwa=<%= user.username %>" class="m-r-20 text-muted" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edytuj użytkownika">
                                                  <button type="button" class="btn btn-secondary">Edytuj użytkownika</button>
                                                </a>
                                              </td>
                                          </tr>

                                      <% }) %>
                                    </tbody>
                                </table>
                              </form>
                                <% } else { %>
                                  <h2>Nie znaleziono zamówień</h2>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>


<%- contentFor('FooterJs') %>
<!-- Datatable js -->
<script src="public/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="public/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="public/assets/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="public/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

 <%- contentFor('BottomJs') %>
<script type="text/javascript">

</script>
