<%- contentFor('HeaderCss') %>
<link href="public/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('breadcrumb') %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Ustawienia</a></li>
                    <li class="breadcrumb-item active">Mój profil</li>
                </ol>
            </div>
            <h4 class="page-title">Mój profil</h4>
        </div>
    </div>
</div>

<%- contentFor('body') %>
                <div class="row">
                    <div class="col-12">
                        <div class="card m-b-20">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-12">
                                  <h4 class="mt-0 header-title">Edytuj dane</h4>
                                  <p class="text-muted m-b-30 font-14">Prosimy o poprawne wypełnienie wszystkich pól</p>
                                </div>
                              </div>
                                <form>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="username">Nazwa użytkownika:</label>
                                                <input id="username" name="username" type="text" class="form-control" value="<%= user.username %>" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Adres E-mail:</label>
                                                <input id="email" name="email" type="text" class="form-control" value="<%= user.email %>" readonly>
                                            </div>
                                            <div class="row">
                                              <div class="form-group col-sm-6">
                                                <label for="name">Imie:</label>
                                                <input id="name" name="name" type="text" class="form-control"  value="<%= user.name %>">
                                              </div>
                                              <div class="form-group col-sm-6">
                                                <label for="surname">Nazwisko:</label>
                                                <input id="surname" name="surname" type="text" class="form-control" value="<%= user.surname %>">
                                              </div>
                                            </div>

                                            <button type="submit" class="btn btn-success waves-effect waves-light float-right" style="margin-top: 32px;">Zapisz zmiany</button>
                                        </div>

                                        <div class="col-sm-6">
                                          <div class="row">
                                            </div>
                                            <div class="col-sm-4">
                                              <div class="form-group ">
                                                <label class="">Logo</label> <br/>
                                                <img src="public/assets/images/products/1.jpg" alt="product img" class="img-fluid" style="max-width: 200px;" />
                                                <br/>
                                                <button type="button" class="btn btn-purple m-t-10 waves-effect waves-light " style="margin-top: 26px;">Zmień logo</button>
                                              </div>

                                             </div>
                                          </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>

<%- contentFor('FooterJs') %>
<script src="public/assets/plugins/select2/js/select2.min.js" type="text/javascript"></script>

<%- contentFor('BottomJs') %>
<script type="text/javascript">
    $(".select2").select2();
</script>
